# Python / Backend secrets
server/.env
server/__pycache__/
*.pyc

# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# IDEs and OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Any local build files or caches
*.log
